@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/bn1.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Rena</b> Shop</h1>
                            <h3 class="h2">Chuyên máy photocopy chính hãng</h3>
                            <p>
                                Rena Shop cung cấp máy photocopy chất lượng cao, giá cạnh tranh. Phù hợp cho văn phòng, kinh doanh dịch vụ hoặc cá nhân cần in ấn chuyên nghiệp.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/bn6.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Dịch vụ cho thuê máy</h1>
                            <h3 class="h2">Giải pháp linh hoạt, tiết kiệm</h3>
                            <p>
                                Rena Shop cho thuê máy photocopy theo tháng hoặc năm. Máy mới, mực chính hãng, bảo trì định kỳ miễn phí – phù hợp cho doanh nghiệp vừa và nhỏ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/bn4.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Tư vấn tận tâm</h1>
                            <h3 class="h2">Lựa chọn phù hợp nhu cầu </h3>
                            <p>
                                Đội ngũ Rena Shop sẽ hỗ trợ bạn chọn đúng dòng máy – đảm bảo hiệu quả hoạt động, độ bền và chi phí hợp lý cho từng mô hình kinh doanh.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Danh Mục Nổi Bật Trong Tháng</h1>
            <p>
                Những sản phẩm nổi bật được nhiều khách hàng quan tâm và lựa chọn trong tháng này tại Rena Shop.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3 text-center">
            <a href="#"><img src="~/assets/img/1.png" class="rounded-circle img-fluid border" alt="Máy Photo Mini"></a>
            <h5 class="mt-3 mb-3">Máy Photo Mini</h5>
            <p><a href="#" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3 text-center">
            <a href="#"><img src="~/assets/img/10.png" class="rounded-circle img-fluid border" alt="Máy Photocopy Công Nghiệp"></a>
            <h5 class="mt-3 mb-3">Máy Photocopy Công Nghiệp</h5>
            <p><a href="#" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3 text-center">
            <a href="#"><img src="~/assets/img/18.png" class="rounded-circle img-fluid border" alt="Máy Photocopy Kinh Doanh Dịch Vụ"></a>
            <h5 class="mt-3 mb-3">Máy Photocopy Kinh Doanh Dịch Vụ</h5>
            <p><a href="#" class="btn btn-success">Go Shop</a></p>
        </div>
    </div>

</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Sản Phẩm Nổi Bật</h1>
                <p>
                    Những dòng máy photocopy được ưa chuộng nhất hiện nay, phù hợp cho kinh doanh dịch vụ và văn phòng.
                    Hiệu suất cao, tiết kiệm chi phí và độ bền vượt trội.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/1.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">60.000.000đ</li>
                        </ul>
                        <a href="https://dailymayphoto.vn/may-photocopy-ricoh-mp-4054.html" class="h2 text-decoration-none text-dark">Ricoh MP 4054</a>
                        <p class="card-text">
                            Máy photocopy đa chức năng với tốc độ 40 bản/phút, phù hợp cho văn phòng vừa và nhỏ. Tích hợp chức năng in mạng và scan màu.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/1.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">60.000.000đ</li>
                        </ul>
                        <a href="https://dailymayphoto.vn/may-photocopy-ricoh-mp-6054.html" class="h2 text-decoration-none text-dark">Ricoh MP 6054</a>
                        <p class="card-text">
                            Dòng máy công suất cao, tốc độ 60 bản/phút, hỗ trợ đảo mặt tự động và scan màu, lý tưởng cho môi trường làm việc bận rộn.
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/1.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">60.000.000đ</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Ricoh MP 7503</a>
                        <p class="card-text">
                            Máy photocopy hiệu suất cao, tốc độ 75 bản/phút, màn hình cảm ứng thông minh, phù hợp cho doanh nghiệp lớn và dịch vụ in ấn.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/1.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">60.000.000đ</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Ricoh MP 7503</a>
                        <p class="card-text">
                            Máy photocopy hiệu suất cao, tốc độ 75 bản/phút, màn hình cảm ứng thông minh, phù hợp cho doanh nghiệp lớn và dịch vụ in ấn.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/2.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">45.000.000đ</li>
                        </ul>
                        <a href="https://dailymayphoto.vn/may-photocopy-ricoh-mp-6054.html" class="h2 text-decoration-none text-dark">Ricoh MP 6054</a>
                        <p class="card-text">
                            Dòng máy công suất cao, tốc độ 60 bản/phút, hỗ trợ đảo mặt tự động và scan màu, lý tưởng cho môi trường làm việc bận rộn.
                        </p>
                        <p class="text-muted">Reviews (63)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/3.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">36.000.000đ</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Ricoh MP 4054</a>
                        <p class="card-text">
                            Máy photocopy đa chức năng với tốc độ 40 bản/phút, tích hợp chức năng in mạng và scan màu, phù hợp cho văn phòng vừa và nhỏ.
                        </p>
                        <p class="text-muted">Reviews (58)</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Featured Product -->